@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

:root {
  --primary-color: #12ac8e;
  --primary-color-dark: #0d846c;
  --primary-color-light: #e9f7f7;
  --secondary-color: #fb923c;
  --text-dark: #333333;
  --text-light: #767278;
  --white: #ffff;
  --max-witdh: 12000px;
  --background-section: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  background-color: var(--white);
}

.section__container {
  max-width: var(--max-witdh);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.1);
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.nav__logo span {
  color: var(--secondary-color);
}

.nav__link {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link a {
  padding: 0 0.5rem;
  color: var(--text-dark);
}

.link a:hover {
  color: var(--text-dark);
  background-color: #e9f7f7;
  border-radius: 6rem;
  width: 30rem;
  transform: scale(0.9) translate(-100%, -100%);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--secondary-color);
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  color: var(--text-dark);
  align-items: center;
}

.header__form {
  width: 100%;
  max-width: 350px;
}

.header__form form {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: 3rem;
  right: -30.7rem;
}

.header__form input {
  padding: 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--text-light);
  background-color: var(--primary-color-light);
  border-radius: 5px;
  border: none;
}

.header__form::placeholder {
  color: var(--text-light);
}

.form__btn {
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.form__btn:hover {
  background-color: var(--text-dark);
}

.header__form h4 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.section__container.service__container {
  background-color: var(--background-section);
  margin-top: 20.2rem;
}

.service__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.section__header {
  color: var(--secondary-color);
}

.service__header_content p {
  max-width: 900px;
  color: var(--text-light);
}

.service_btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--text-light);
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.service_btn:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.service__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  color: var(--secondary-color);
}

.service__card {
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.service__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 2.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 100px;
  transition: 0.3s;
}

.service__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.service__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.service__card a {
  color: var(--secondary-color);
}

.service__card a:hover {
  color: var(--primary-color-dark);
}

.service__card:hover span {
  color: var(--white);
  background-color: var(--secondary-color);
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about__content p {
  margin-bottom: 1rem;
  color: var(--text-light);
  text-align: left;
}

.about__content h2 {
  color: var(--secondary-color);
}

.about__image img {
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}

.section__footer {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--background-section);
}

.footer__card {
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.section__footer span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 100px;
  transition: 0.3s;
}

.section__footer span:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}

.section__footer a {
  color: var(--secondary-color);
}

.section__footer h4 {
  color: var(--secondary-color);
}

.beta {
  color: var(--text-light);
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  .nav__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .nav__logo {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .nav__link {
    flex-direction: column;
    gap: 1rem;
  }

  .link a {
    padding: 0.5rem 1rem;
  }

  .header__container {
    flex-direction: column;
    gap: 2rem;
  }

  .header__container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }

  .header__container p {
    text-align: center;
  }

  .header__form form {
    right: 0;
    padding: 1rem;
  }

  .section__container {
    padding: 2rem 1rem;
  }

  .service__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .about__container {
    grid-template-columns: 1fr;
  }

  .about__image img {
    max-width: 100%;
  }

  .section__footer {
    flex-direction: column;
    gap: 2rem;
  }
}
